html,

h1 {
  font-size: 50px;
  font-weight: bold;
  border: 1px solid black;
  color: #00ff1d;
}
nav {
  color: #00ff1d;
  margin: 0;
}


}

<script type="text/javascript">
                function get_spotify() {
                    $.ajax({
                        type: 'POST',
                        url: '/Scripts/last.fm.php',
                        data: { request: 'true' },
                        success: function(reply) {
                            $('.now-playing').html("<p>" + reply + "</p>");
                        }
                    });
                }
                window.onload = get_spotify;
            </script>
