html,

h1 {
  font-size: 50px;
  font-weight: bold;
  border: 1px solid black;
  color: #00ff1d;
}
nav {
  color: #00ff1d;
  margin: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  margin: 2px;
}

.gallery-item .thumbnail {

}

