html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}


h1 {
  font-size: 50px;
  font-weight: bold;
  border: 1px solid black;
  color: Green;
}
nav {
  color: pink;
  margin: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  margin: 2px;
}

.gallery-item .thumbnail {

}

